@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

$xs: 480px;
$sm: 768px;
$md: 992px;
$lg: 1200px;

$primary: #55bb6a;
$primary-light: #55bb56;
$grey: #606060;
$background-home: #f9f5e0; 

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: $background-home;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hide {
  display: none;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.8);
  z-index: 2;
  cursor: pointer;
  &-text{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }
}



@import 'Loader';
@import 'Home'

