.buttons {
  gap: 5px;
  display: flex;
  overflow: auto;
  flex-wrap: wrap;
}
.button {
  background-color: $primary;
  cursor: pointer;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: all 0.1s ease;
  &:hover {
    background-color: $primary-light;
  }
}

.main {
  min-height: calc(100vh - 70px);
}

.content {
  display: flex;
}

.content-right {
  width: 100%;
  @media screen and (max-width: $lg) {
   width: 0px;
  }
}

.content-left {
  height: 100%;
  width: 100%;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 160px;
  padding: 20px;

  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  background-color: $background-home;


  @media screen and (max-width: $sm) {
    margin-right: 20px;
    margin-left: 20px;
  }

  .title {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    margin-top: 20px;
    @media screen and (max-width: $sm) {
      margin-top: 0px;
      font-size: 1.5rem;
    }
  }

  .food-title {
    margin-top: 0px;
    margin-bottom: 10px;
    text-transform: capitalize;
  }

  .food-restriction {
    margin-top: 0px;
    margin-bottom: 10px;
  }

  .food-restriction-subtitle {
    font-size: 1rem;
  }


  .food-restriction-options {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 7px;

    @media screen and (max-width: $sm) {
      font-size: 1rem;
    }

    label:not(:last-child) {
      margin-right: 10px;
    }
  }

  .food-url {
    margin-top: 5px;
    margin-left: 20px;
    @media screen and (max-width: $xs) {
      margin-left: 10px;
    }
  }

  .food-error {
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
  }

  .food-url-text {
    margin-left: 10px;
    @media screen and (max-width: $xs) {
      margin-left: 0px;
    }
  }

  .description {
    width: 100%;
    margin: 0px;
    margin: 20px 10px ;
    @media screen and (max-width: $xs) {
      margin-left: 0px;
    }
  }
  .description.mt-5 {
    margin-top: 20px;
  }
}

.footer {
  height: 70px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  a {
    display: flex;
    height: 40px;
    background-color: $background-home;
    border-radius: 1000px;
    padding: 5px 20px;
    .footer-text {
      display: flex;
      line-height: 20px;
      align-items: center;
      margin-right: 10px;
    }
  }
}
